.myOuterDiv-div{
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 20px;
    padding-top: 30px;
    border: 5px solid rgb(49, 142, 255);
    margin: 0 auto;
    margin-top: 30px;
}
.myInnterDiv-div{
    display: grid;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.cardImage-img{
    margin-top: 20px;
    width: 100%;
}
.myPara-para{
    margin-top: 50px;
    margin-bottom: -50px;
}
.myButton{
    border: 3px solid rgb(49, 142, 255);
    border-radius: 20px;
    padding-top: 6px;
    color: black;
    background-color: white;
    width: 130px;
}
.myUnAvailableButton{
    margin-top: 20px;
    border: 3px solid rgb(49, 142, 255);
    border-radius: 20px;
    color: black;
    background-color: white;
    width: 200px;
    height: 35px;
}
.adjustArrows-div{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;

}
.arrowButton-btn{
    height: 50px;
    margin: 23px 10px;
    border: none;
    background-color: white;

}