.mainDiv{
    margin-top: 70px;
    background-color: rgb(49, 142, 255);
    height: 65px;
    display: flex;
    justify-content: center;
   
    bottom: 0;
    padding: 10px;
    width: 100%;
}
.myPara{
    background-color: white;
    color: rgb(49, 142, 255);
    height: 25px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    cursor: pointer;
}
.thePara{
    background-color: rgb(49, 142, 255);
    color: white;
    height: 25px;
    margin-top: 5px;
    padding-right: 3px;
    display: flex;
    
}

@media (max-width: 800px){
    .mainDiv{
        display: grid;
        height: 105px;
    }
}