body{
    display: flex;
    justify-content: center;
}
.myOuterDiv-div{
    border: 100px;
    border-color: black;
    border-width: 10px;
}
.cardImage-img{
    width: 500px;
    height: 500px;
}
